<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" /><meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}" />
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="{{asset "/favicon.ico"}}">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link href="https://fonts.googleapis.com/css?family=News+Cycle:400,700" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{asset "css/finnian.min.css"}}" />

    {{ghost_head}}
  </head>
  <body class="{{body_class}} nav-closed">
    {{navigation}}

    <div class="site-wrapper">
      {{{body}}}
      <footer class="site-footer clearfix">
        <section class="copyright"><a href="{{@blog.url}}">{{@blog.title}}</a> &copy; {{date format="YYYY"}}</section>
      </footer>
    </div>

    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/hover.css/2.1.0/css/hover-min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.6.0/themes/prism.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/asciinema-player/2.4.1/asciinema-player.min.css" rel="stylesheet" />

    <script defer type="text/javascript" src="//code.jquery.com/jquery-1.12.0.min.js"></script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.6.0/prism.min.js"></script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/asciinema-player/2.4.1/asciinema-player.min.js"></script>
    <script defer src="https://use.fontawesome.com/0f3bcbbbff.js"></script>
    <script defer type="text/javascript" src="{{asset "js/jquery.fitvids.js"}}"></script>
    <script defer type="text/javascript" src="{{asset "js/finnian.js"}}"></script>
    {{ghost_foot}}
  </body>
</html>
